body{
    background-image: url(../assets/fondo.jpg);
}

main {
    width: 1000px;
    min-height: 400px;
    background-color : rgba(255,255,255,.5);
    position: relative;
    margin: 30px auto;
    border:1px solid #000;
}

header.principal{
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
    background-color: #fff;
    background-image: url(../assets/bg-header.jpg);
}

header.principal div.logo{
    position: relative;
    width: 100px;
    height: 100px;
    *border:1px solid rgb(2, 82, 38);
    top:20px;
    left: 24px;
    background-image: url(../assets/logo.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
}

header.principal h1{
    position: absolute;
    top: 10px;
    left: 130px;
    font-size: 45px;
}

nav.nav_horizontal {
    border-bottom: 5px solid #127a57;
    background-color: #fff;
} 

nav.nav_horizontal ul{
    position: relative; border:0px; padding:0px; margin:0px;
}
nav.nav_horizontal li{
    position: relative; border:0px;margin:0px;
    padding:0px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

nav.nav_horizontal li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0d0e0d;
    font-weight: bold;
}

nav.nav_horizontal li a:hover{
    background-color: #04704c;
    color:#fff;
}

nav.nav_horizontal li a:active{
    background-color: #9ae2aa;
    color:#025338;
}

#slideshow{
    position: relative;
    background-color: #fff;
    border:2px dotted #000;
    width: 700px;
    height: 250px;
    margin: 20px auto;
}

#slideshow button{
    background-color: #ff8420;
    width: 50px;
    height: 50px;
    border: 1px solid #c45f0d;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 100px;
}
button.prev{
    left: -25px;
}
button.next{
    right: -25px;
}

#slideshow button:hover{
    background-color: #b65506;
    color: #ffcb20;
}

#slideshow button:active{
    background-color: #522602;
    color: #ffcb20;
}

.col{
    display: inline-block;
    vertical-align: top;
    *border:1px solid #000;
    width: 330px;
    min-height: 200px;
    background-color: rgba(255,255,255,.7);
    border-top:2px solid #04704c;
}
.col header{
    text-align: center;
}
.col header img{
    width: 60px;
    height: 60px;
    border: 2px solid #04704c;
    margin-top:-30px;
    background-color:#fff;
    border-radius: 50%;
}

div.cols {
    position: relative;
    margin-top:40px;
}

div.cols p{
    padding: 20px;
    text-justify: auto;
}

footer.principal{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #666;
    text-align: center;
    border-top: 2px solid #000;
    color: #fff;
}

footer.principal h2{
    border:0px;
    padding:12px 0px;
    margin: 0px;
}